<%- include('../partials/header') %>

Scorecard Info
<h3>
  <%= `You are viewing the tee time for ${course.courseName} on ${time.date} at ${time.time} with ${time.groupSize} players` %>
</h3>

<% let totalYardage = 0; %>
<% let totalPar = 0; %>

<table id="scorecard-table">
  <thead>
    <tr>
      <td>hole</td>
        <% course.courseScorecard.forEach(function(s) { %>
          <td><%= s.hole %></td>
        <% }) %>
        <td>Total Score</td>
    </tr>
    <tr>
      <td>yardage</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalYardage + s.yardage %>
            <td><%= s.yardage %></td>
          <% }) %>
        <td><%= totalYardage %></td>
        </tr>
    <tr>
      <td>par</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalPar + s.par %>
            <td><%= s.par %></td>
          <% }) %>
        <td><%= totalPar %></td>
    </tr>
    <!-- PLAYERS ON CARD FOR VIEWING ONLY -->
  <form id="add-scorecard" action="/scorecards" method="POST">
  </thead>
  <tbody>
    <tr>
      <td>
        <!-- START OF EACH SCORECARD ROW WITH A MAX OF 4 -->
        <select name="user">
          <% users.forEach(function(u) { %>
            <option value="<%= u._id %>"><%=  u.name %></option>
          <% }) %>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<button type="submit">Submit Scorecard</button>
</form>
    
<%- include('../partials/footer') %>