<%- include('../partials/header') %>

Scorecard Info
<section id="user-scorecard">
<h3>
  <%= `You are viewing the tee time for ${course.courseName} on ${time.date.toDateString()} at ${time.time} with ${time.groupSize} players` %>
</h3>

<% let totalYardage = 0; %>
<% let totalPar = 0; %>
<table id="scorecard-table">
  <thead>
    <tr>
      <td>hole</td>
        <% course.courseScorecard.forEach(function(s) { %>
          <td><%= s.hole %></td>
        <% }) %>
        <td>Total</td>
    </tr>
    <tr>
      <td>Yardage</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalYardage + s.yardage %>
            <td><%= s.yardage %></td>
          <% }) %>
        <td><%= totalYardage %></td>
        </tr>
    <tr>
      <td>Par</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalPar + s.par %>
            <td><%= s.par %></td>
          <% }) %>
        <td><%= totalPar %></td>
    </tr>
    <!-- PLAYERS ON CARD FOR VIEWING ONLY -->
  <form action="/scorecards" method="POST">
  </thead>
  <tbody>
    <tr>
      <td>
        <input name="user" hidden value="<%= user._id %>"><%= user.name %>
      </td>
        <td>
          <input name="score.one" type="number">
        </td>
        <td>
          <input name="score.two" type="number">
        </td>
        <td>
          <input name="score.three" type="number">
        </td>
        <td>
          <input name="score.four" type="number">
        </td>
        <td>
          <input name="score.five" type="number">
        </td>
        <td>
          <input name="score.six" type="number">
        </td>
        <td>
          <input name="score.seven" type="number">
        </td>
        <td>
          <input name="score.eight" type="number">
        </td>
        <td>
          <input name="score.nine" type="number">
        </td>
        <td>

        </td>

      </label>
    </tr>
  </tbody>
</table>
<button type="submit">Submit Scorecard</button>
<input type="hidden" name="courseId" value="<%= course._id %>" hidden>
<% console.log(time.id) %>
<input type="hidden" name="time" value="<%= time.id %>" hidden>
</form>
</section>
<%- include('../partials/footer') %>