<%- include('../partials/header') %>

<section id="user-scorecard">

<% let totalYardage = 0; %>
<% let totalPar = 0; %>
<table id="table table-bordered border-primary">
  <thead>
    <tr>
      <td>Hole</td>
        <% course.courseScorecard.forEach(function(s) { %>
          <td><%= s.hole %></td>
        <% }) %>
        <td>Total</td>
    </tr>
    <tr>
      <td>Yardage</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalYardage + s.yardage %>
            <td><%= s.yardage %></td>
          <% }) %>
        <td><%= totalYardage %></td>
        </tr>
    <tr>
      <td>Par</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalPar + s.par %>
            <td><%= s.par %></td>
          <% }) %>
        <td><%= totalPar %></td>
    </tr>





  <form id="scorecard-new" action="/scorecards" method="POST">
  </thead>
  <tbody>
    <tr>
      <td>
        <input name="user" hidden value="<%= user._id %>"><%= user.name %>
      </td>
        <td>
          <input name="score.one" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.two" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.three" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.four" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.five" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.six" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.seven" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.eight" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <input name="score.nine" type="number" class="total" onchange="count()" min="0" max="10">
        </td>
        <td>
          <div  id="countTotal">
            <input type="hidden" name="totalScore" value="<%= scores.totalScore %>">0
          </div>
        </td>
    </tr>
  </tbody>
</table>
<button type="submit">Submit Scorecard</button>
<input type="hidden" name="courseId" value="<%= course._id %>" hidden>
<input type="hidden" name="time" value="<%= time.id %>" hidden>
</form>
</section>

<section>
  <div class="divider"></div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <%= course.courseScorecard.length %>
  <a class="btn primary" href="">
    <%= course.courseScorecard.length %>
  </a>
</section>

<%- include('../partials/footer') %>