<%- include('../partials/header') %>

<section id="scorecard-parent">
  
  <section id="scorecard-current">
    <h3>Current</h3>
    <div id="scorecard-current-hole">
      <section id="scorecard-score">      
          <% course.courseScorecard.forEach(function(p) { %>
            <button>
              <%= p.hole %>
            </button>
            <% }) %>
      </section>

      <h4>Score</h4>
      <button id="subtractFromScore" onclick="subtractFromScore()"> - </button>
      <input id="hole-score" type="text" value="<%= course.courseScorecard[0].par %>" min="0" max="10">
      <button id="addToScore" onclick="addToScore()"> + </button>
      
    </div>
    <div id="scorecard-current-par">
      Par:<%= course.courseScorecard[0].par %>
      Yardage:<%= course.courseScorecard[0].yardage %>
    </div>
  </section>

  <section id="scorecard-next">
    <h3>Next</h3>
    <div id="scorecard-next-hole">Hole #</div>

  </section>

</section>
<%- include('../partials/footer') %>