<% let totalYardage; %>
<% let totalPar; %>

<table id="scorecard-table">
  <thead>
    <tr>
      <td>hole</td>
        <% course.courseScorecard.forEach(function(s) { %>
          <td><%= s.hole %></td>
        <% }) %>
        <td>FRONT 9</td>
    </tr>
    <tr>
      <td>yardage</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalYardage + s.yardage %>
            <td><%= s.yardage %></td>
          <% }) %>
        <td><%= totalYardage %></td>
        </tr>
    <tr>
      <td>par</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalPar + s.par %>
            <td><%= s.par %></td>
          <% }) %>
        <td><%= totalPar %></td>
    </tr>
    <!-- PLAYERS ON CARD FOR VIEWING ONLY -->
    
    <tr>

  </thead>
  <tbody>
  </tbody>