<%- include('../partials/header') %>

<h3>
  <%= `You are viewing all your previous tee times at ${times[0].course.courseName}.` %>
</h3>

<table>
  <thead>
    <tr>
      <th>
        Course
      </th>
      <th>
        Date
      </th>
      <th>
        Score
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <% let sum = 0%>
    <% times.forEach(function(t) { %>
      <% const now = new Date() %>
      <% const timeCheck = new Date(t.date) %>
      <% if (timeCheck > now) { %>
      <tr>
        <td>
          <%= t.course.courseName %>
        </td>
        <td>
          <%= t.date.toDateString() %>
        </td>
        <td>
          <% if(typeof t.scorecards === 'object') { %>
            <% let scoreTotal = Object.values(t.scorecards.score) %>
            <% let reduce = scoreTotal.reduce((acc, x) => acc + x, 0); %>
            <%= reduce %>
            <% sum += reduce %>
          <% } %>
        </td>
        <td>
          <a href="/times/<%= t._id %>/scorecards">Details</a>
        </td>
        </tr>
        <% } %>
      <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>