<%- include('../partials/header') %>

<label id="course-index">
  <table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Course Location</th>
      <th>Edit Course Info</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(function(c) { %>
      <tr>
        <td><%= c.courseName %></td>
        <td><%= c.courseLocation %></td>
        <td>
          <a href="/courses/<%= c._id %>">Details</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
  </table>
</label>

<%- include('../partials/footer') %>