<%- include('../partials/header') %>

  <table id="course-table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Location</th>
        <th>Edit Course Info</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach(function(c) { %>
        <tr>
          <td><%= c.courseName %></td>
          <td><%= c.courseLocation %></td>
          <td>
            <a href="/courses/<%= c._id %>">Details</a>
          </td>
        </tr>
        <% }) %>
      </tbody>

  </table id="scorecard-table">
  <table>
    <thead>
        <th>Holes</th>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>

      // First Row - Yardage

      <tr>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        <th><input id="scorecard-yardage" type="number"></th>
        </tr>

      // Second Row - Handicap
      <tr>
        <th><input id="scorecard-handicap" type="number"></th>
      </tr>

      // Third Row - Par
      <tr>
      </tr>

      // Fourth Row - User Scores
      <tr>
      </tr>

    </tbody>
  </table>

  <%- include('../partials/footer') %>