<%- include('../partials/header') %>

<h2 class="display-5 text-center text-md-start">Courses</h2>
<div class="container">
  <div class="row justify-content-center">
    <% courses.forEach(function(c, idx) { %>
      <div class="card width mb-2" style="width:18rem;">
        <h5 class="card-header"><%= c.courseName %></h5>
        <div class="card-body">
          <h5 class="card-title"><%= c.courseLocation %></h5>
          <p class="card-text"></p>
          <a href="/courses/<%= c._id %>" class="btn btn-primary">Details</a>
          <a href="/courses/<%= c._id %>" class="btn btn-danger">Directions</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

<%- include('../partials/footer') %>