<%- include('../partials/header') %>

<form method="GET" action="/courses/<%= course._id %>">

<label name="courseName">
  <input type="text" value="<%= course.courseName %>">
</label>

<label name="courseLocation">
  <input type="text" value="<%= course.courseLocation %>">
</label>

</form>

<%- include('../partials/footer') %>