<%- include('../partials/header') %>

<form id="course-details" method="GET" action="/courses/<%= course._id %>">

<label name="courseName">
  <input type="text" value="<%= course.courseName %>">
</label>
<br>
<label name="courseLocation">
  <input type="text" value="<%= course.courseLocation %>">
</label>
<br>
</form>

<!-- BUTTON TO GET TO SCORECARD FOR COURSE BY ID -->
<form method="GET" action="/courses/<%= course._id %>/scorecard">
  <button type="submit">Show Scorecard</button>
</form>

<table>
  <thead>
    <tr>
      PUT ALL HOLE NUMBERS ALONG TABLE HEADERS
      <% course.courseScorecard.forEach(function(c) { %>
      <th></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>