<%- include('../partials/header') %>

<h2>
<label name="courseName">
Course Name: <%= course.courseName %>
</label>  
<br>
<label name="courseLocation">
Course Location: <%= course.courseLocation %>
</label>
</h2>

<!-- BUTTON TO GET TO SCORECARD FOR COURSE BY ID -->
<label>
<form id="course-show" method="GET" action="/courses/<%= course._id %>/scorecard">
  <button type="submit">Show Scorecard</button>
</form>

<form id="course-show" method="GET" action="/courses/<%= course._id %>/history">
  <button type="submit">Show History</button>
</form>
</label>
<%- include('../partials/footer') %>