<%- include('../partials/header') %>

<form id="course-details" method="GET" action="/courses/<%= course._id %>">

<label name="courseName">
  <input type="text" value="<%= course.courseName %>">
</label>
<br>
<label name="courseLocation">
  <input type="text" value="<%= course.courseLocation %>">
</label>
<br>
<button type="submit">Show Scorecard</button>
</form>


<%- include('../partials/footer') %>