<%- include('../partials/header') %>

<form method="GET" action="/schedules/new">
  <% if (user.email === 'curtissalcedo@gmail.com') { %>
    <button type="submit">EDIT SCHEDULE</button>
  <% } %>
</form>

<table id="schedule-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Group Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if (date) { %>
        <%= date %><% } %>
      </td>
      <td>
        <% if (time) { %>
        <%= time %><% } %>
      </td>
      <td>
        <% if (group) { %>
        <%= group %><% } %>
      </td>
    </tr>
    
  </tbody>
</table>


<%- include('../partials/footer') %>