<%- include('../partials/header') %>

<form id="addTime" action="/times/<%= time._id %>?_method=PUT" method="POST">

<h3>
  <label>Course:</label> <%= course.courseName %>
<br>
  <label>Current Date: <%= time.date.toDateString() %>
<br>
</label>
<br>
<label>Tee Time: 
  <input name="time" type="time" min="06:00" max="15:00" value="<%= time.time %>">
</label>
<br>
<label>Playing Partners</label>
  <!-- ADD PLAYING PARTNERS FOR USER ACCESS -->

<br>
<button type="submit" href="<%= time.id %>"">Submit Changes
</button>
</h3>

<%- include('../partials/footer') %>