<%- include('../partials/header') %>

<h2>TEE TIMES SCHEDULED</h2>

<div class="container">

  
  <form  method="GET" action="/times/new">
    <button id="add-tee-time" type="submit">Start a Round</button>
  </form>
</div>

<h2 class="display-6 text-center text-start">Recently Played</h2>
<div class="container">
  <div class="row justify-content-center">

    <% times.forEach(function(t, idx) { %>
      <div class="card width mb-2" style="width:18rem;">
        <h5 class="card-header"><%= t.course.courseName %></h5>
        <div class="card-body">
          <h6 class="card-title"><%= t.date.toDateString() %></h6>
          <% let sum = 0 %>
          <% if(typeof t.scorecards === 'object') { %>
            <% let scoreTotal = Object.values(t.scorecards.score) %>
            <% let reduce = scoreTotal.reduce((acc, x) => acc + x, 0); %>
            Score Recorded: <%= reduce %>
            <% sum += reduce %>
          <% } else {%>
            <p>No score entered</p>
          <% } %>
          <p class="card-text"></p>
          <a href="/times/<%= t._id %>" class="btn btn-primary">Details</a>
          <a href="/times/<%= t._id %>" class="btn btn-danger">Directions</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

<%- include('../partials/footer') %>