<%- include('../partials/header') %>

<h2>ALL TEE TIMES</h2>

<section id="time-index">
  <table id="time-table">
    <thead>
    <tr>
      <th>Course</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
    <% times.forEach(function(t) { %>
      <% const now = new Date() %>
      <% const timeCheck = new Date(t.date) %>
      <% if (timeCheck > now) { %>
        <tr>
        <td><%= t.course.courseName %></td>
          <td><%= t.date.toDateString() %></td>
          <td><%= t.time %></td>
          <td><a href="/times/<%= t._id %>">DETAILS</a></td>
        </tr>
        <% } %>
        <% }); %>
    </tbody>
  </table>
</section>

<form id="add-tee-time" method="GET" action="/times/new">
  <button type="submit">ADD TEE TIME</button>
</form>

<%- include('../partials/footer') %>