<%- include('../partials/header') %>

<h2>Scorecard</h2>


<section id="times-show">
  <div>
    <%- include('../partials/scorecard') %>
  </div>
  <form action="/times/<%= time._id %>/show" method="GET">
    <% if (typeof time.scorecards === 'object') { %>
    <button type="submit">VIEW SCORECARD</button>
    <% } %>
    </form>
  <form action="/times/<%= time._id %>/scorecards">
    <% if (typeof time.scorecards !== 'object') { %>
    <button type="submit">NEW SCORECARD</button>
    <% } %>
  </form>
  <form action="/times/edit/<%= time._id %>/?_method=EDIT" method="PUT">
    <button type="submit">EDIT TEE TIME</button>
  </form>
  <form action="/times/delete/<%= time._id %>/?_method=DELETE" method="POST">
    <button type="submit">DELETE SCORECARD</button>
  </form>
</section>

<%- include('../partials/footer') %>