<%- include('../partials/header') %>

<h2>Scorecard</h2>


<% let totalYardage; %>
<% let totalPar; %>
<section id="scorecard-partials">

<table class="table-bordered">
  <tr>
    <td>Course Name</td>
    <td><%= course.courseName %></td>
  </tr>
  <tr>
    <td>Date</td>
    <td><%= time.date.toDateString() %></td>
  </tr>
  <tr>
    <td>Tee Time</td>
    <td><%= time.time %></td>
  </tr>
  <tr>
    <td>Created By</td>
    <td><%= time.user.name %></td>
  </tr>
</table>

<br>

<table class="table-bordered">
  <thead>
    <tr>
      <td>Hole</td>
        <% course.courseScorecard.forEach(function(s) { %>
          <td><%= s.hole %></td>
        <% }) %>
      </tr>
      <tr>
        <td>Yardage</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalYardage + s.yardage %>
            <td><%= s.yardage %></td>
          <% }) %>
        </tr>
      <tr>
        <td>Par</td>
        <% course.courseScorecard.forEach(function(s) { %>
            <% totalPar + s.par %>
            <td><%= s.par %></td>
          <% }) %>
    </thead>
  </table>
</section>
<div class="row">

<form action="/times/<%= time._id %>/scorecards">
    <button type="submit">NEW SCORECARD</button>
</form>

<% if (time.scorecards) { %>
<form action="/scorecards/<%= time.scorecards._id %>/index">
    <button type="submit">VIEW SCORECARD</button>
</form>
<% } %>


<form action="/scorecards/<%= time._id %>/show">
    <button type="submit">INTERACTIVE</button>
</form>


<form action="/times/edit/<%= time._id %>/?_method=EDIT" method="PUT">
  <button type="submit">EDIT TEE TIME</button>
</form>

<form action="/times/delete/<%= time._id %>/?_method=DELETE" method="POST">
  <button type="submit">DELETE SCORECARD</button>
</form>
</div>

</section>

<%- include('../partials/footer') %>