<%- include('../partials/header') %>

<h2>Your History</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Time</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% scores.forEach(function(u){ %>
      <tr>
        <td>
          <%= u.time.date %>
        </td>
        <td>
          <%= u.courseId.courseName %>
        </td>
        <td>
          <%= u.time.time %>
        </td>
        <td>
          <% let scoreTotal = Object.values(u.score) %>
          <% let reduce = scoreTotal.reduce((acc, x) => acc + x, 0); %>
          <%= reduce %>
        </td>
        <% }) %>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>