<%- include('../partials/header') %>

<h2>My Buddy</h2>
<a href="/users/<%= user.id %>/" class="btn btn-primary">Edit Bag</a>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Time</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% let sum = 0 %>
    <% scores.forEach(function(u){ %>
      <% console.log(u.time) %>
      <tr>
        <td>
          <%= u.time.date.toDateString() %>
        </td>
        <td>
          <%= u.courseId.courseName %>
        </td>
        <td>
          <%= u.time.time %>
        </td>
        <td>
          <% let scoreTotal = Object.values(u.score) %>
          <% let reduce = scoreTotal.reduce((acc, x) => acc + x, 0); %>
          <%= reduce %>
          <% sum += reduce %>
        </td>
        <% }) %>
      </tr>
    </tbody>
  </table>
  
  <section id="history-stats">
    Average Strokes: <%let average = (sum / scores.length) %>
    <%= average.toFixed(1) %>
  </section>


<%- include('../partials/footer') %>