<%- include('../partials/header') %>

<h1>Your History</h1>
<%= user.name %>
<br>
<%= user.email %>
<br>


<h4>Tee Time History</h4>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Time</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% scores.forEach(function(u){ %>
      <tr>
        <td>
          <%= u.time.date %>
        </td>
        <td>
          <%= u.courseId.courseName %>
        </td>
        <td>
          <%= u.time.time %>
        </td>
        <td>
          <%= u.score %>
        </td>
      <% }) %>

    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>